@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.scrollable {
  overflow: auto;

  /* For Firefox */
  scrollbar-width: thin;

  /* For Internet Explorer and Edge (Legacy) */
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.hide-scrollable {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
